body {
    font-family: Arial, sans-serif;
    background-color: #282c35; /* Dark background color */
    color: #fff; /* Light text color */
    height: 100vh;
    width: 100%;
    margin: 0;
}

.feed-post {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}

.post-footer {
    margin-top: 16px;
}

.comments-btn {
    margin-top: 12px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

#commentTextLabel {
    color: black;
}

#username {
    font-size: 24px;
    font-weight: 700;
}

#user-info {
    margin-bottom: 10px;
}

#feed {
    margin: 20px auto; /* Adjusted container margins */
    max-width: 100%; /* Set maximum container width */
    padding-top: 80px;
    max-height: 100vh;
}