body {
    font-family: Arial, sans-serif;
    background-color: #282c35; /* Dark background color */
    color: #fff; /* Light text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    padding: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this to space items evenly */
}

.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 10px; /* Adjust spacing between items */
}

button {
    background-color: #61dafb; /* Blue button color */
    color: #fff; /* Light text color */
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#postsContainer {
    width: 80%;
    max-width: 600px;
    margin: 60px auto 20px; /* Add margin to the content to prevent overlap with the navbar */
}

.post {
    background-color: #333; /* Dark post background color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #333; /* Dark form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
